{% extends "base.html" %}

{% block title %}{{ summoner.name }}{% endblock %}

{% block content %}

<h2>{{ summoner.name }}</h2>
<img id="profile-icon" src="{{ summoner.icon }}">
<p>{{ summoner.level }}</p>

<ul id="match-list">
    {% for match in matches %}
    <li class="{{ 'matchVictory' if match.win else 'matchLoss'}}">
        <div class="match-details">
            <span class="match-type">{{ match.queue }}</span>
            <span class="match-result">{{ match.result }}</span>
            <span class="match-duration">{{ match.duration }}</span>
        </div>
        <div class="champion-details">
            <span class="champion-name">{{ match.champion_name }}</span>
            <img class="champion-icon" src="{{ match.champion_icon }}">
            <span class="champion-level">{{ match.level }}</span>
        </div>
        <div class="summoner-statistics">
            <span class="summoner-kda">{{ match.kda }}</span>
            <span class="summoner-cs">{{ match.cs }} CS</span>
            <span class="summoner-cwards">{{ match.control_wards}} Control Wards</span>
        </div>
    </li>
    {% endfor %}
</ul>

{% endblock %}